POSTGRES_ADMIN_USER=user
POSTGRES_ADMIN_PASSWORD=pa55qword

POSTGRES_WAREHOUSE_NAME=name_db
POSTGRES_WAREHOUSE_USER=db_user
POSTGRES_WAREHOUSE_PASSWORD=pswd

POSTGRES_FORKLIFT_NAME=name_db
POSTGRES_FORKLIFT_USER=db_user
POSTGRES_FORKLIFT_PASSWORD=pswd

POSTGRES_ORDER_NAME=name_db
POSTGRES_ORDER_USER=db_user
POSTGRES_ORDER_PASSWORD=pswd